body {
  font-family: Arial, sans-serif;
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
  margin: 48px 196px;
}

.menu {
  display: flex;
  justify-content: space-between;
  color: #f9faf8;
  margin-block-end: 48px;
  ul {
    font-size: 18px;
    gap: 16px;
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    a {
      text-decoration: none;
      color: #e5e7eb;
    }
  }
  .logo {
    font-size: 24px;
  }
}

.banner {
  display: flex;
  align-items: center;
  .banner-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
    h1,
    p {
      margin: 0;
    }
    h1 {
      font-size: 48px;
      color: #f9faf8;
    }
    p {
      font-size: 18px;
      color: #e5e7eb;
    }
    button {
      background-color: #3882f6;
      padding: 8px 20px;
      border-radius: 8px;
      color: #f9faf8;
      align-self: start;
    }
  }
  .banner-image {
    flex: 1;
    img {
      width: 100%;
    }
  }
}

.layer-1 {
  background-color: white;
  padding-block-end: 96px;
  h2 {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
  }
  .card-wrapper {
    display: flex;
    gap: 48px;
    justify-content: center;
    flex-wrap: wrap;
    .card {
      display: flex;
      flex-direction: column;
      width: 160px;
      img {
        height: 160px;
        border-radius: 8px;
      }
      span {
        text-wrap: wrap;
        text-align: center;
      }
    }
  }
}

.layer-2 {
  background-color: #e5e7eb;
  padding-block: 96px;
  p {
    font-size: 36px;
    margin: 0;
    color: #1f2937;
    margin-block-end: 16px;
  }
  span {
    display: block;
    font-weight: bold;
    text-align: right;
    font-size: 20px;
  }
}
